* {
  margin: 0;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

p {
  font-size: 14px;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

main {
  position: fixed;
  top: 0;
  left: 0;
  /*  note vh and vw switched  */
  width: 100vh;
  height: 100vw;
  /*    */
  transform-origin: top left;
  transform: rotate(-90deg) translateX(-100vh);
  overflow-x: hidden;
  overflow-y: scroll;
  /*   scroll-snap-type: y mandatory; */
}

article {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  transform-origin: top left;
  transform: rotate(90deg) translateY(-100vh);
}

section {
  width: 50vw;
  height: 100vh;
  position: relative;
  /*   scroll-snap-align: start; */
  overflow-y: hidden;
  font-family: monospace;
  font-size: 3rem;
  /*  backface visibility keeps font from looking weird  */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

section:nth-of-type(odd) {
  background: #111;
  color: #fff;
}

section:nth-of-type(even) {
  background: rgb(63, 27, 27);
  color: #fff;
}

section:nth-of-type(1) {
  width: 45vw;
  background: #000;
}

section:nth-of-type(2) {
  width: 55vw;
  background: #F4EEEC;
}

section:nth-of-type(3) {
  width: 80vw;
  background: #111;
  color: #fff;
}

section:nth-of-type(4) {
  width: 20vw;
}

section:nth-of-type(5) {
  width: 150vw;
  background: #F4EEEC;
  ;
}

section:nth-of-type(6) {
  width: 60vw;
}


/* Home Page */

.socials {
  list-style-type: none;
  font-size: 20px;
}

.socials li {
  margin-left: -40px
}

.about-para {
  font-size: 14px;
}

.new-flex {
  display: -webkit-flex;
  display: flex;
  transition: 2s;
  flex: 1;
  flex-grow: 1;
  font-size: 14px;
  align-items: end;
  height: 300px;
  overflow: hidden;
  position: relative;
}

.new-flex>h1 {
  position: absolute;
  font-size: 140px;
  top: 20px;
  left: 50px;
  transition: 1s;
}

.new-flex:nth-of-type(1) {
  background: #817CF9;
  height: 55vh
}

.new-flex:nth-of-type(2) {
  background: #59E7F2;
  height: 65vh
}

.new-flex:nth-of-type(3) {
  background: #D578FF;
  height: 75vh
}

.new-flex:nth-of-type(4) {
  background: #67EEBB;
  height: 55vh
}


.new-flex:hover {
  flex-grow: 4;
  height: 55vh !important;
}

.new-flex:nth-of-type(1):hover>h1 {
  left: -50px !important;
}

.new-flex:nth-of-type(2):hover>h1 {
  left: -50px !important;
}

/* How it works? section */

.story-card {
  position: relative;
  min-height: 200px;
  margin-top: 100px;
}

.story-card-img:nth-of-type(1) {
  position: absolute;
  left: -50px;
  top: -50px;
}

/* Features Section */

.features-head {
  transform: rotate(-90deg);
  font-size: 2em;
}

/* Footer */

.footer-socials{
  list-style-type: none;
}

.footer-socials li {
  margin-left: -40px;
  padding: 10px 0;
  border-top: 2px solid #fff;
  font-size: 20px;
}