@font-face {
  font-family: 'Xirod';
  src: url(../Xirod.ttf);
}

* {
  margin: 0;
  scroll-behavior: smooth;
}

h1,
p, li {
  font-family: Xirod, 'sans-serif';
}

::-webkit-scrollbar {
  display: none;
}

p {
  font-size: 14px;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

main {
  position: fixed;
  top: 0;
  left: 0;
  /*  note vh and vw switched  */
  width: 100vh;
  height: 100vw;
  /*    */
  transform-origin: top left;
  transform: rotate(-90deg) translateX(-100vh);
  overflow-x: hidden;
  overflow-y: scroll;
  /*   scroll-snap-type: y mandatory; */
}

article {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  transform-origin: top left;
  transform: rotate(90deg) translateY(-100vh);
}

.border-text {
  font: 800 4.8vw Arial;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
}

/*
---- Navbar
*/
.navbar {
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  position: fixed;
  top: 0;
  z-index: 99;
}

.navbar-buttons {
  position: relative;
  width: 155px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Sing In Button */
.navbar .button {
  background-color: rgba(44, 45, 47, 0.749);
  width: 97px;
  height: 30px;
  font-size: 12px;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

/*
---- Overlay
*/
.overlay {
  position: fixed;
  background: rgba(51, 55, 69, 0.80);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: 99;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
}

.overlay.open {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.overlay.open li {
  animation: fadeInRight .5s ease forwards;
  animation-delay: .35s;
}

.overlay.open li:nth-of-type(2) {
  animation-delay: .4s;
}

.overlay.open li:nth-of-type(3) {
  animation-delay: .45s;
}

.overlay.open li:nth-of-type(4) {
  animation-delay: .50s;
}

/* Navigation Title */
.overlay .nav-title {
  font-size: 22px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 8%;
}

.overlay nav {
  position: relative;
  height: 50%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 40px;
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}

.overlay ul li {
  display: block;
  position: relative;
  opacity: 0;
  margin-bottom: 30px;
}

.overlay ul li a {
  display: block;
  position: relative;
  color: #FFF;
  text-decoration: none;
  overflow: hidden;
}

.overlay ul li a:hover,
.overlay ul li a:focus,
.overlay ul li a:active {
  color: #ea2e49;
}

.overlay ul li a:hover:after,
.overlay ul li a:focus:after,
.overlay ul li a:active:after {
  width: 100%;
  background: #ea2e49;
}

button:focus {
  outline: 0;
}

.open-menu {
  filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(100deg) brightness(0%) contrast(119%);
}

.open-menu,
.close-menu,
.button {
  cursor: pointer;
  transition: transform 0.30s;
}

.open-menu:hover,
.close-menu:hover,
.button:hover {
  transform: scale(1.1);
}

.overlay ul li a:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 43.5%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: #FFF;
  transition: .35s;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }

  100% {
    opacity: 1;
    left: 0;
  }
}

/*
---- Responsive
*/

@media (max-width: 670px) {
  .overlay nav {
    font-size: 30px;
  }
}

@media (max-width: 550px) {
  .overlay nav {
    font-size: 20px;
  }
}

section {
  width: 50vw;
  height: 100vh;
  position: relative;
  /*   scroll-snap-align: start; */
  overflow-y: hidden;
  font-family: monospace;
  font-size: 3rem;
  color: #fff;
  padding-top: 100px;
  /*  backface visibility keeps font from looking weird  */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

section:nth-of-type(1) {
  width: 50vw;
  background: #000;
}

section:nth-of-type(2) {
  width: 60vw;
  background: #F4EEEC;
}

section:nth-of-type(3) {
  width: 85vw;
  background: #FFFFFF;
  color: #000;
}

section:nth-of-type(4) {
  width: 15vw;
  background: #000;
}

section:nth-of-type(5) {
  width: 150vw;
  background: #F4EEEC;
}

section:nth-of-type(6) {
  width: 60vw;
  background: #000;
}


/* Home Page */

.socials {
  list-style-type: none;
  font-size: 25px;
}

.socials li {
  margin-left: -40px
}

.about-para {
  font-size: 14px;
}

.hero-main{
  display: none;
}

.main-head-wrapper{
  width: 85%; margin: 0 auto
}

.hero-head-1 {
  font-size: 2vw;
  margin-bottom: -20px
}

.hero-head-2 {
  margin-bottom: -10px
}

.hero-head-3 {
  font: 600 2vw Arial;
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke: 0.5px;
}

.scroll-drag {
  font-size: 12px;
  font-family: Xirod, 'sans-serif';
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.scroll-drag img {
  max-width: 50px;
}

/* GASP section */

.gasp-main{
  display: none
}

.new-flex {
  display: -webkit-flex;
  display: flex;
  transition: 2s;
  flex: 0.3;
  /* flex-grow: 1; */
  font-size: 14px;
  align-items: end;
  height: 300px;
  overflow: hidden;
  position: relative;
}

.new-flex>h1 {
  position: absolute;
  font-size: 140px;
  top: 20px;
  left: 25px;
  letter-spacing: 15px;
  transition: 1s;
  color: #000;
}

.new-flex:nth-of-type(2):hover>h1 {
  font-size: 40px;
}

.new-flex>img {
  width: 300px;
  transition: 5s;
}

.new-flex:nth-of-type(1) {
  background: #817CF9;
  height: 60vh
}

.new-flex:nth-of-type(2) {
  background: #59E7F2;
  height: 65vh
}

.new-flex:nth-of-type(3) {
  background: #D578FF;
  height: 75vh
}

.new-flex:nth-of-type(4) {
  background: #67EEBB;
  height: 65vh
}

.new-flex>img {
  transition: 0.3s;
}

.new-flex:hover {
  flex-grow: 2;
  height: 70vh !important;
}

.new-flex:nth-of-type(1):hover>h1 {
  left: -50px !important;
  color: #fff;
}

/* .new-flex:nth-of-type(1):hover>img {
  width: 60%;
} */

.new-flex:nth-of-type(2):hover>h1 {
  left: -50px !important;
}

/* How it works? section */

.story-wrapper{
  width: 80%; margin: 0 auto;
}

.story-head{
  font-size: 3.6vw;
}

.story-card {
  position: relative;
  min-height: 200px;
  margin-top: 50px;
  margin-left: 50px;
  width: 70%;
}

.story-para{
  text-align: center;
}

.story-card-img{
  position: absolute;
  left: -50px;
  top: -50px;
}

/* Features Section */

.features-head {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
  transform: rotate(-90deg);
  font-size: 10vh;
}

/* Footer */

.footer-head {
  font-size: 2vw;
}

.footer-socials {
  list-style-type: none;
}

.footer-socials li {
  margin-left: -40px;
  padding: 10px 0;
  border-top: 2px solid #fff;
  font-size: 20px;
}

@media only screen and (max-width: 1000px) {

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    max-width: 100%;
    overflow-x: hidden !important;
    overflow-y: auto;
  }

  .open-menu {
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(0%);
  }

  main {
    position: unset;
    /*  note vh and vw switched  */
    width: 100%;
    height: 100%;
    /*    */
    transform-origin: unset;
    transform: unset;
    overflow-x: unset;
    overflow-y: unset;
    /*   scroll-snap-type: y mandatory; */
  }

  article {
    display: unset;
    flex-direction: unset;
    width: fit-content;
    height: fit-content;
    transform-origin: unset;
    transform: unset;
  }

  section {
    width: 100%!important;
    height: 100%;
    overflow-x: hidden !important;
    padding: 50px 0 !important;
  }

  section:nth-of-type(1){
    padding-top: 100px !important;
    height: 100vh !important;
  }

  .main-wrapper{
    display: flex;
    align-items: center;
  }

  .container {
    width: 100% !important;
  }

  .hero-temp {
    display: none;
  }

  .hero-main{
    display: block;
    margin-top: 100px !important;
  }

  .socials-temp div {
    flex: 1;
    text-align: center;
    font-size: 25px;
  }

  .main-temp-para p {
    text-align: justify;
  }

  .main-head-wrapper{
    width: 100%;
  }

  .hero-head-1{
    font-size: 5vw !important;
    margin-bottom: -10px !important
  }

  .hero-head-2{
    font-size: 11vw !important;
    margin-bottom: 0px !important
  }

  .hero-head-3{
    font-size: 5vw !important;
    margin-bottom: 25px !important;
  }

  .gasp-temp{
    display: none
  }

  .gasp-main{
    display: block
  }

  .gasp-card > img{
    transition: 1s;
  }

  .gasp-card:hover > img {
    transform: scale(1.1);
  }

  .gasp-card:nth-of-type(1) {
    background: #817CF9;
  }
  
  .gasp-card:nth-of-type(2) {
    background: #59E7F2;
  }
  
  .gasp-card:nth-of-type(3) {
    background: #D578FF;
  }
  
  .gasp-card:nth-of-type(4) {
    background: #67EEBB;
  }

  .story-wrapper{
    width: 100%;
  }

  .story-head{
    font-size: 10vw !important;
  }

  .story-para{
    text-align: left;
  }

  .story-card{
    width: 100%;
    margin-left: 0;
  }

  .story-card-img{
    width: 100px;
    left: -20px;
    top: -20px;
  }

  .features-head {
    transform: unset;
    font-size: 10vw;
    padding: 1em 0;
  }
}